/** CMS overrides **/
body {background:#fff !important;}
#right {border:0;background:#fff !important;}
ul.tabstrip {
	border-bottom: 1px solid #aaa !important;
	margin: 0 !important;
}
	ul.tabstrip li {
		background: #fff !important;
		border:1px solid #aaa;
		margin: 0 0 0 0 !important;
	}
		ul.tabstrip li a {
			background: none !important;
			padding: 3px 9px 3px 0 !important;
			
		}
			ul.tabstrip li.current,
			ul.tabstrip li.ui-tabs-selected,
			ul.tabstrip li.sel,
			ul.tabstrip li.over {
				background: #eee !important;
        border-bottom:1px solid #eee;		
			}
				ul.tabstrip li.current a,
				ul.tabstrip li.ui-tabs-selected a,
				ul.tabstrip li.sel a,
				ul.tabstrip li.over a {
					background: none !important;
				}

.tab {
	border:0 !important;
	padding-left:10px !important;
	background:#fafafa !important;
}

.dataobject-list li {background:#fff;}